@{
        ViewData["Title"] = "Pannel Admin";
    }

    <div class="text-center">
        <h1 class="display-4">Pannel Administrateurs</h1>
    </div>

    <div class="text-center">
        <p>Tu peut acceder à ces differentes rubriques :</p>

        <ul>
            <li><a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="FormSupplier">Ajouter un fournisseur</a></li>
        </ul>
    </div>